* {
	box-sizing: border-box;
}

:root {
	--ff-primary: 'Kaushan script', cursive;
	
	--clr-dark: black;
	--clr-grey: #6C757D;
	--clr-light: #FFFFFF;
	--clr-accent: #FFCA00;
	--clr-light-grey: #EEEEEE;
	--clr-yellow: #f9e494;
	
	--fs-h1: 3.5rem;
	--fs-h2: 2.5rem;
	--fs-h3: 1.5rem;
	--fs-body: 1rem;
}

body {
	font-family: var(--ff-primary);
	margin: 0;
}

.container {
	padding: 1em 2em 1em 2em;
}

/* Typography */
h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
	color: var(--clr-dark);
}

.title--accent {
	color: var(--clr-accent);
	font-size: var(--fs-h1);
}
a {
	color: var(--clr-accent);
	text-decoration: none;
	transition: 500ms;
	font-size: var(--fs-h3)
}

a:hover,
a:focus {
	color: var(--clr-dark);
}

img {
	display: block;
}

/* Buttons */

.btn-nav {
	font-size: var(--fs-h2);
	border: none;
	background: var(--clr-light);
	color: var(--clr-accent);
	transition: 500ms; 
}

.btn.nav:hover {
	cursor: pointer;
}

.btn {
	display: inline-block;
	color: black;
	border: 2px solid black;
	font-size: var(--fs-body);
	text-transform: uppercase;
	border-radius: 7px;
	padding: .3em .6em;
	transition: 500ms;
}

.btn:hover,
.btn:focus {
	cursor: pointer;
	background: var(--clr-dark);
	color: var(--clr-accent);
}

.btn-welcome {
	font-size: var(--fs-h3);
	font-weight: bold;
	border: 4px solid black;
}

.btn-welcome-nav {
    font-size: var(--fs-p);
    font-weight: bold;
    border: 4px solid black;
}

/* Navigation */

.nav {
	background-color: var(--clr-light);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.navigation__list {
	list-style: none;
	padding-left: 0;
	position: relative;
	height: 0;
	margin: 0;
	overflow: hidden;
}

.navigation__list--open {
	height: 100%;
	margin-top: 1em;
}

#nav-close {
	display: none;
}

#nav-open {
	display: inline-block;
}

.nav__logo {
    height: 2.5rem;
}

.navigation__item {
	padding-bottom: .75em;
}

@media (min-width: 700px) {
	.navigation__button {
		display: none;
	}
	.navigation__phone,
	.navigation__cart {
		display: inline-block;
		margin-left: 2em;
		margin-right: 0;
		width: 25%;
	}
	.nav__logo__list {
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	.navigation__list {
		width: 100%;
		height: auto;
		display: flex;
		margin: auto 2em auto 2em;
		justify-content: space-between;
	}
	.navigation__item {
		text-align: center;
		padding-left: 1em;
/*		margin: auto;*/
	}
    .navigation__item-last {
        margin-left: auto;
    }
}

/* Welcome */

.welcome-home {
    background-image: url(../img/home/headerbackground.jpg);
}

/* Camp pages */

.welcome-australia {
    background-image: url(../img/australia/australia-background.jpg);
}

.welcome-benin {
    background-image: url(../img/africa/benin/pendjari-bckgr.jpg);
}

.welcome-cameroon {
    background-image:   url(../img/africa/cameroon/cameroon-background.jpg);
}

.welcome-gambia {
    background-image: url(../img/africa/gambia/gambia-background.jpg);
}

.welcome-ghana {
    background-image: url(../img/africa/ghana/ghana-background.jpg);
}

.welcome-india {
    background-image: url(../img/asia/india/india-background.jpg);
}

.welcome-netherlands {
    background-image: url(../img/europe/netherlands/netherlands-background.jpg);
}

.welcome-nigeria {
    background-image: url(../img/africa/nigeria/nigeria-background.jpg);
}

.welcome-peru {
    background-image: url(../img/south-america/peru/peru-background.jpg);
}

.welcome-romania {
    background-image: url(../img/europe/romania/romania-background.jpg);
}

/* Welcome */

.welcome {
	height: 80vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: rgba(249, 228, 148, 0.52);
	background-blend-mode: multiply;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}

.welcome__title {
	color: var(--clr-light);
}

/* About us */

.about__column {
	width: 400px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about__text {
	margin-bottom: 1.5em;
	padding-right: 6em;
}

#explore {
    margin-right: 2rem;
}

.img-container { 
	margin: 5rem 0;
	width: 100%;
	position: relative;
}

.img-container::before {
	content: "";
	position: absolute;
	top: -1.5rem;
	left: -1.75rem;
	width: 100%;
	height: 100%;
	outline: .5rem solid var(--clr-yellow);
	z-index: -1;
	transition: all 1s ease-in-out;
}

.img-container:hover::before {
	top: 0rem;
	left: 0rem;
}

.about__img {
	width: 100%;
	
}

@media (min-width: 750px) {
	.about__column {
		display: flex;
		width: 90%;
		flex-direction: row;
		align-items: center; 
	}
    .img-container {
        min-width: 15rem;
    }
	.about__column--text {
		margin-bottom: 3rem;
	}
    .about__title-right {
        padding-left: 5.5rem;
    }
    .about__text-right {
        padding-right: 0;
        padding-left: 6em;
    }
    .btn-camp-home-right {
        margin-left: 6rem;
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    max-height: 100vh;
    max-width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(249, 228, 148, 0.6)
}

.modal__container {
    background-color: var(--clr-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 95%;
    padding: 2rem;
    border-radius: 20px;
    border: 3px solid black;
}

.modal-image {
    margin-bottom: 2rem;
    max-width: 100%;
    max-height: 80%;
}

.modal-open {
    display: flex;
}

/* Resorts */

.store {
	background: var(--clr-light-grey);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 3rem;
}
.store__buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.store__btn + .store__btn {
	margin-left: 1.5em;
}

.store__btn {
	margin-bottom: 1em;
}

.store__search {
	margin: 1rem 0 2rem;
	border: 2px solid grey;
	border-radius: 7px;
	overflow: hidden;
}

.store__search--icon {
	padding: .6em;
	background: var(--clr-accent);
	margin-right: -4px;
	border-right: 2px solid var(--clr-grey);
}

.store__searchbar {
	padding: .6em;
	border: none;
	font-family: var(--ff-primary);
}

.store__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	max-width: 100%;
	grid-row-gap: 2em;
	grid-column-gap: 2em;
}

.item {
	border: 2px solid var(--clr-grey);
	border-radius: 5px;
	overflow: hidden;
}

.store__link {
    font-size: var(--fs-body);
    color: black;
}

.store__item--description {
	background: var(--clr-light);
	display: flex;
	justify-content: space-between;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.store__item--img--container {
	overflow: hidden;
}

.store__item--img {
	width: 100%;
	object-fit: cover;
	transition: transform .5s ease-in-out;
	overflow: hidden;
	
}

.store__item--img:hover,
.store__item--img:focus {
	transform: scale(1.2);
}

/* Footer */
.footer {
    background: var(--clr-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.footer__img {
    height: 2rem;
    margin-right: 1rem;
}

/* Contact */
.contact-form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

.form-input,
textarea{
    font-family: var(--ff-primary);
    padding: .5em;
    margin-bottom: 1em;
}

.about__column--text--contact {
    width: 100%;
}

.img-container-about {
    width: 12rem;
    align-self: center
}


@media (min-width: 750px) {
    .about__column--text--contact {
        padding-right: 4rem;
    }
}

